<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BESTA</title>
  <style>
    body {
      font-family: "Arial Black", Gadget, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: <%= bgColor %>;
    }
    .besta {
      color: <%= textColor %>;
      font-size: 110px;
      font-weight: bold;
    }
    .descricao {
      color: #333; /* Cor fixa, cinza escuro */
      font-size: 18px;
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <div class="besta">B.E.S.T.A.</div>
  <div class="descricao">Brilhante Estratégia para Soluções Tecnológicas Avançadas</div>
</body>
</html>